
$brand-primary: #51A395;


@import 'bootstrap';

body {
  background-color: #e6e4d4;
  font-family: 'Source Sans Pro', sans-serif;
}

p, address {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 24px;
}

strong {
  font-weight: 500;
}

address {
  margin: 0;
  padding: 0;
}

.hero-main {
  position: relative;
  height: 100vh;
  overflow: hidden;

  background-image: url('../img/hero-cover.jpg');
  background-position: center center;
  background-size: cover;

  .hero-accent {
    position: absolute;
    top: -100%;
    left: -61%;
    height: 200%;
    width: 100%;

    background-color: rgba($brand-primary, 0.7);
    transform: rotate(20deg);
  }

  .hero-logo {
    position: absolute;
    top: 65%;
    right: 10%;

    width: 500px;
    height: 111px;

    @media (max-width: $screen-xs-max) {
      width: calc(100% - 40px);
      height: auto;
      right: 20px;
      bottom: 17%;
    }
  }
}

.sales-copy {
  max-width: 640px;
  margin: 0 auto;
  padding: 50px 0;

  h2 {
    margin: 28px 0 4px;

    &:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 50px 20px;
  }
}


.contact {
  position: relative;
  padding: 50px 0 100px 42%;
  overflow: hidden;

  background-image: url('../img/scooter-cover.jpg');
  background-position: center center;
  background-size: cover;

  color: white;

  @media (max-width: $screen-xs-max) {
    padding: 50px 20px;
  }

  p, address, h3 {
    line-height: 1.2;
  }

  p {
    margin-bottom: 16px;
  }

  address {
    margin-top: 10px;
    font-size: 16px;
  }

  .contact-container {
    position: relative;
    max-width: 500px;
  }

  .color-bar {
    position: absolute;
    height: 100px;
    width: 140%;
    left: -30%;
    bottom: -54px;
    background-color: rgba($brand-primary, 0.7);
    transform: rotate(-2.2deg);
  }

  .mailto {
    position: absolute;
    // width: calc(100% - 40px);
    width: 500px;
    left: 42%;
    bottom: 0;
    padding: 0 0 15px;

    text-align: right;

    a {
      color: white;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .contact-container,
    .mailto {
      max-width: 420px;
    }
  }

  @media (max-width: $screen-xs-max) {
    background-position: 1594px center;

    .contact-container {
      max-width: 100%;
    }

    .mailto {
      left: 20px;
      width: calc(100% - 40px);
      max-width: calc(100% - 40px);
    }

    address {
      margin-bottom: 20px;
      text-align: right;
    }

    .dimmer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(#464530, 0.4), rgba(#464530, 0));
    }
  }
}
